<!DOCTYPE HTML>
<html>

<head>
<title>Social Distance Detection</title>
<link rel= "stylesheet" href= "static/style.css">
</head>

<body>
	<div id="main">
		<div id="header">
			<div id="logo">
				<div id="logo_text">
					<!-- class="logo_colour", allows you to change the colour of the text -->
					<h3>
						<center><a href="#"><font color="white">Social Distance Detection</font></a></center>
					</h3>
					<br/><br/>
				</div>
			</div>
			<div id="menubar">
				<ul id="menu">
					<li><a href="/live">Live Detection</a></li>
					<li><a href="/home">Upload Video</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</div>
		<div id="content_header"></div>
		<div id="site_content">
			<div id="content">

				<center><h1>{{message}}</h1></center>

				<form name="form" action="{{ url_for('uploader') }}" method="post" enctype = "multipart/form-data">

                    <div class="form_settings">

						<p>
							<span>Upload Video:</span><input class="contact" type="file" name="file" required/>
						</p>

						<p style="padding-top: 15px">
							<span>&nbsp;</span><input class="submit" type="submit"
								name="contact_submitted" value="Upload" />
						</p>

					</div>
				</form>

			</div>
		</div>
	</div>
</body>
</html>